extends ../layout

block content
  h1 Login
  form(action='/login', method='POST')
    p
      label(for='email') Email:
      input#email(type='email', name='email')
    p
      label(for='password') Password:
      input#password(type='password', name='password')
    button(type='submit') Login

    if successMessage
    div.success
      = successMessage
  
    if errorMessage
    div.error
      = errorMessage